      <footer class="footer pt-3">
        <div class="container-fluid">
          <div class="row align-items-center justify-content-lg-between">
            <div class="col-12 mb-lg-0 mb-4">
              <div class="copyright text-center text-sm text-muted">
                &copy; 
                <a href="https://github.com/JasbirCodeSpace/StudyHive" class="font-weight-bold" target="_blank">StudyHive</a> 
                - developed by           
                <a href="https://github.com/JasbirCodeSpace" target="_blank">
                  Jasbir
                </a>
                &amp;
                <a href="https://github.com/harshrai654" target="_blank">
                Harsh
                </a>
              </div>
            </div>
          </div>
        </div>
      </footer>

