{% extends 'layouts/base.html' %}
{% load question_filters %}
{% block content %}
<div class="container-fluid py-4">
    <div class="row">
      <div class="col-lg-8 mb-lg-0 mb-4">
        <div class="card card-background shadow-none card-background-mask-primary" id="sidenavCard">
            <div class="full-background" style="background-image: url('https://appsrv1-147a1.kxcdn.com/soft-ui-dashboard/img/curved-images/curved-8.jpg')"></div>
            <div class="card-body text-left p-3 w-100">
            <div class="icon icon-shape icon-sm bg-white shadow text-center mb-3 d-flex align-items-center justify-content-center border-radius-md">
                <i class="ni ni-diamond text-primary text-gradient text-lg top-0" aria-hidden="true" id="sidenavCardIcon"></i>

            </div>
            <div>
                <span class="text-white">Topic: {{question.topic}}</span> | <span class="text-white">Dificulty: {{ question.difficulty|difficulty_level }}</span>
                <h4 class="text-white font-weight-bolder">{{question.problem}}</h4>
                <p class="text-white">{{question.description}}</p>
                
            </p>
            <br>
            <a href="{{ question.url }}" target="_blank" class="btn btn-white btn-sm mb-0">Visit problem</a>
            </div>
        </div>
        </div>
    </div>
  </div>


{% endblock %}



